# This is a basic workflow to help you get started with Actions

name: tests-server

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events 
  pull_request:
  # but only for any changes to auth folder or service 'auth/**''
  # Being a microservice, were projects are independent, you only want to run
  # this test when changes are made to this service, and not when changes are 
  # made to other services,
    paths:
      - 'server/**'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    environment: development
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout repository
        uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Install Dependencies
        run: cd server && npm install
      - name: Run tests with coverage
        # Ensure the 'test' script is not running jest in watcher mode(--watchAll) or it will run 
        # continuously watching for changes made to our source code.
        run: cd server && npm run test:coverage
      # - name: Upload coverage to Codecov
      #   uses: codecov/codecov-action@v1
      #   with:
      #     token: ${{ secrets.CODECOV_SECRET_TOKEN }}